@media screen and (max-width:980px) {
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .college {
        width: 450px;
        height: 350px;
    }

    .school {
        width: 450px;
        height: 350px;
    }

    .about-me-image img {
        width: 400px;
        height: 400px;
        margin-left: 0px;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .my-contact-description {
        font-family: var(--primary-font);
        font-weight: 400;
        width: 380px;
        margin-bottom: 50px;
    }
    .nav-items,.button{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}

@media screen and (max-width:850px) {
    .education {
        display: flex;
        flex-direction: column;
    }

    .college {
        width: 400px;
        height: 300px;
    }

    .school {
        width: 400px;
        height: 350px;
    }
    .sidebar{
        width: 40vw;
        animation: menu-bar .5s 1 ease ;
    }
    @keyframes menu-bar {
    from{
        width: 0vw;
    }
    to{
        width: 40vw;
    }
}
}
@media screen and(max-width:430px) {
    
    
}
@media screen and (max-width:768px) {
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .project-links {
        position: absolute;
        top: 77%;
        left: 27%;
    }
}