@media screen and (max-width:980px) {
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .popup {
        left: 32%;
        top: 33%;
        background-color: white;
        width: 350px;
        height: 400px;
        z-index: 1000;
    }

    .popup>h3 {
        position: absolute;
        top: 48%;
        font-family: var(--primary-font);

    }

    .popup-description {
        position: absolute;
        top: 65%;
        text-align: center;
        font-size: 14px;
        font-family: var(--primary-font);
    }

    .college {
        width: 450px;
        height: 350px;
    }

    .school {
        width: 450px;
        height: 350px;
    }

    .about-me-image img {
        width: 400px;
        height: 400px;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .my-contact-description {
        font-family: var(--primary-font);
        font-weight: 400;
        margin-bottom: 50px;
    }

    .nav-items,
    .button {
        display: none;
    }

    .menu-bar {
        display: block;
    }
}

@media screen and (max-width:850px) {
    .education {
        display: flex;
        flex-direction: column;
    }

    .college {
        width: 400px;
        height: 300px;
    }

    .school {
        width: 400px;
        height: 350px;
    }

    .sidebar {
        width: 40vw;
        animation: menu-bar .5s 1 ease;
    }

    @keyframes menu-bar {
        from {
            width: 0vw;
        }

        to {
            width: 40vw;
        }
    }
}

@media screen and (max-width:768px) {
    .popup {
        left: 27%;
        top: 33%;
        background-color: white;
        width: 350px;
        height: 400px;
        z-index: 1000;
    }

    .email,
    .location {
        margin: 20px;
    }

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .project-links {
        position: absolute;
        top: 77%;
        left: 27%;
    }

    .my-contact-description>h2 {
        text-align: center;
    }

    .my-contact-description>p {
        margin: 20px;
        text-align: justify;
    }
}

@media screen and (max-width:600px) {
    .popup {
        left: 23%;
        top: 33%;
        background-color: white;
        width: 300px;
        height: 320px;
        z-index: 1000;
    }

    .my-contact-description>h2 {
        text-align: center;
    }

    .my-contact-description>p {
        margin: 20px;
        text-align: justify;
    }

    .email,
    .location {
        margin: 20px;
    }
}

@media screen and (max-width:500px) {
    .my-contact-description>h2 {
        text-align: center;
    }

    .email,
    .location {
        margin: 20px;
    }

    .popup {
        left: 14%;
        top: 33%;
    }

    .user-contact-info {
        width: 300px;
        height: 350px;

    }

    .user-contact-info>input {
        width: 260px;
        height: 50px;
    }

    textarea {
        width: 260px;
        height: 100px;
    }

    .my-contact-description>p {
        margin: 20px;
        text-align: justify;
    }
}

@media screen and (max-width:400px) {
    .popup {
        left: 17%;
        top: 33%;
        width: 250px;
        height: 287px;
        z-index: 1000;
    }

    .popup>h3 {
        position: absolute;
        top: 48%;
        font-family: var(--primary-font);

    }

    .popup-description {
        position: absolute;
        top: 65%;
        text-align: center;
        font-size: 14px;
        font-family: var(--primary-font);
    }

    .email,
    .location {
        margin: 20px;
    }

    .about-me-image img {
        width: 320px;
        height: 320px;
    }

    .first-about-box {
        width: 300px;
        height: 300px;
        font-size: 13px;
    }

    .focus {
        width: 300px;
        height: 300px;
        font-size: 13px;
    }

    .college,
    .school {
        width: 300px;
        height: 300px;
        font-size: 13px;
    }

    .user-contact-info {
        width: 300px;
        height: 350px;

    }

    .user-contact-info>input {
        width: 260px;
        height: 50px;
    }

    textarea {
        width: 260px;
        height: 100px;
    }

    .project {
        height: 300px;
        width: 300px;
    }

    .project-img {
        width: 300px;
    }

    .project-discription {
        width: 300px;
        height: 200px;
        padding: 0px 30px;
        font-size: 13px;
    }

    .my-contact-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }

    .skills {
        height: 140px;
        width: 100px;
        padding: 15px;
        transition: var(--transition);
    }

    .projects-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .skills>p {
        font-size: 14px;
    }

    .my-contact-description>h2 {
        text-align: center;
    }

    .my-contact-description>p {
        margin: 20px;
        text-align: justify;
    }

    .email,
    .location {
        margin: 20px;
    }
}